@using FotM.Config
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Flavor of the Month is a team based Armory ladder for World of Warcraft" />

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/my")

    @Html.Partial("GoogleAnalyticsTrackingCode", RegionalConfig.Instance)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FotM", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li data-bind="css: { active: EU }"><a href="http://www.fotm.eu">EU</a></li>
                    <li data-bind="css: { active: US }"><a href="http://www.fotm.us">US</a></li>
                    <li data-bind="css: { active: KR }"><a href="http://fotm-kr.azurewebsites.net">KR</a></li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()

        <hr />
        <footer>
            <p class="col-lg-4 col-md-6 col-sm-8">
                <a href="https://www.facebook.com/tagir.magomedov" class="btn btn-link">
                    <img src="http://icons.iconarchive.com/icons/danleech/simple/32/facebook-icon.png" />
                </a>
                <a href="https://www.twitter.com/tagmg" class="btn btn-link">
                    <img src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/32/Web-Twitter-alt-2-Metro-icon.png" />
                </a>
                <a href="https://github.com/Groz/fotm" class="btn btn-link">
                    <img src="http://icons.iconarchive.com/icons/limav/flat-gradient-social/32/Github-icon.png" />
                </a>
                <a href="mailto:tagir.magomedov@gmail.com" class="btn btn-link">
                    <img src="http://icons.iconarchive.com/icons/marcus-roberto/google-play/32/Gmail-icon.png" />
                </a>
            </p>
            @*<span>&copy; @DateTime.Now.Year - Groz.</span>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            @RenderSection("onReady", required: false)
        });
    </script>
</body>
</html>
