@model IEnumerable<FotM.Portal.ViewModels.TeamStatsViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FotM</h1>
    <p class="lead">Monitor Armory.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">2v2 &raquo;</a></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">3v3 &raquo;</a></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">5v5 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        @foreach (var teamStats in Model)
        {
            <img src="@(teamStats.FactionImageLink)"/>

            foreach (var player in teamStats.Players)
            {
                <img src="@(player.RaceImageLink)"/>
                <img src="@(player.ClassImageLink)"/>
                <img src="@(player.SpecImageLink)"/>
            }
            @teamStats.Rating<span> </span>
            @teamStats.RatingChange<span> </span>
            @teamStats.Updated
            <br/>
        }
    </div>
</div>