@model FotM.Portal.ViewModels.ArmoryViewModel
@using FotM.Config

@{
    ViewBag.Title = "FotM";
}

@section scripts
{
    <!-- TODO: switch to release(minified) versions of scripts -->
    @Scripts.Render("~/bundles/activeView")
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/Home/index.js"></script>
}

@section onReady
{
    var armory = @Html.Raw(Json.Encode(Model))
    var media = @Html.Raw(Json.Encode(ViewBag.Media))
    initializePage("@(RegionalConfig.Instance.Region)", armory, media)
}

<div class="row pager">
    <a role="button" class="btn btn-lg btn-default"
       data-bind="css: { active: leaderboardSelected }, click: leaderboardClicked"
       id="leaderboardBtn">
        Leaderboard
    </a>
    <a role="button" class="btn btn-lg btn-default"
       data-bind="css: { active: playingNowSelected }, click: playingNowClicked"
       id="playingNowBtn">
        Playing now
    </a>
</div>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped table-condensed table-responsive">
            <thead>
                <tr class="hidden-xs hidden-sm">
                    <th>#</th>
                    <th class="hidden-xs hidden-sm">Side</th>
                    <th></th>
                    <th>Rating</th>
                    <th class="hidden-xs hidden-sm">Change</th>
                    <th class="hidden-xs hidden-sm">Seen</th>
                </tr>
            </thead>

            <tbody data-bind="foreach: selectedPage">
                <tr>
                    <td class="centered" data-bind="text: Rank"></td>
                    <td class="hidden-xs hidden-sm vcentered">
                        <img data-bind="attr:{src: $root.toFactionImage(FactionId)}" alt="FactionImage" />
                    </td>

                    <td>
                        <div class="row">
                            <!-- ko foreach: Players -->
                            <div class="col-lg-4 col-md-4 col-sm-4 nopadding">
                                @Html.Partial("PartialCharacterView")
                                <span class="hidden-sm hidden-md">-</span>
                                <span class="hidden-sm hidden-md" data-bind="text: Realm"></span>
                            </div>
                            <!-- /ko -->
                        </div>
                    </td>

                    <td class="centered" data-bind="text: Rating, css: DeltaType"></td>
                    <td class="hidden-xs centered" data-bind="text: RatingChange, css: DeltaType"></td>
                    <td class="hidden-xs hidden-sm" data-bind="text: $root.toLocal(Updated), css: DeltaType"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5">
        <h2>FotM</h2>
        <table class="table table-striped table-condensed table-responsive table-hover">
            <tbody data-bind="foreach: model().TeamSetupsViewModels">
                <tr data-bind="click: $parent.showTeams, css: {success: $parent.isSetupSelected($data)}" class="notext">
                    <td class="hidden-md" data-bind="text: Rank"></td>
                    <!-- ko foreach: Specs -->
                    <td>
                        <img data-bind="attr:{src: $root.toClassImage(ClassId)}" alt="ClassImage" />
                        <img data-bind="attr:{src: $root.toSpecImage(SpecId)}" alt="SpecImage" />
                    </td>
                    <!-- /ko -->
                    <td data-bind="text: Percent"></td>
                </tr>
            </tbody>
        </table>
        
        <h4>Filters</h4>
        <div data-bind="foreach: classFilters" class="btn-group btn-group-justified">
            <div class="dropup btn-group">
                <button type="button" class="dropdown-toggle btn btn-default" data-toggle="dropdown" data-bind="html: $root.filterView($index)"></button>
                <ul class="dropdown-menu" role="menu">
                    <!-- ko foreach: $root.allSpecs -->
                    <li>
                        <a data-bind="click: function() { $root.addFilter($parentContext.$index, $data); }">
                            <img data-bind="attr:{src: $root.toClassImage(classId)}" alt="ClassImage" />
                            <img data-bind="attr:{src: $root.toSpecImage(specId)}" alt="SpecImage" />
                        </a>
                    </li>
                    <!-- /ko -->
                    <li class="notext">
                        <a data-bind="click: function() { $root.addFilter($index, $data); }">All</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12">
        <h2>Teams</h2>
        <div class="alert" data-bind="visible: showFotMHint">
            Select <strong>FotM</strong> setup to browse teams.
        </div>
        <table class="table table-striped table-condensed table-responsive table-hover">
            <tbody data-bind="foreach: selectedSetup().Teams">
                <tr>
                    <td class="centered" data-bind="text: Rank"></td>
                    <td class="hidden-xs">
                        <img data-bind="attr:{src: $root.toFactionImage(FactionId)}" alt="FactionImage" />
                    </td>
                    <td>
                        <div class="row">
                            <!-- ko foreach: Players -->
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <img data-bind="attr:{src: $root.toRaceImage(RaceId)}" alt="RaceImage" />
                                <img class="hidden-xs" data-bind="attr:{src: $root.toClassImage(ClassId)}" alt="ClassImage" />
                                <img data-bind="attr:{src: $root.toSpecImage(SpecId)}" alt="SpecImage" />
                                <span data-bind="text: Name"></span>
                            </div>
                            <!-- /ko -->
                        </div>
                    </td>
                    <td data-bind="text: Rating" class="centered"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

