@using FotM.Config
@model FotM.Portal.ViewModels.ArmoryViewModel

@{
    ViewBag.Title = "FotM";
}

@section scripts
{
    <!-- TODO: switch to release(minified) versions of scripts -->
    <script src="~/Scripts/knockout-3.1.0.debug.js"></script>
    <script src="~/Scripts/jquery.signalR-2.0.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/Home/index.js"></script>
}

@section onReady
{
    var armory = @Html.Raw(Json.Encode(Model))
    var media = @Html.Raw(Json.Encode(ViewBag.Media))
    initializePage("@(RegionalConfig.Instance.Region)", armory, media)
}

<br />

<div class="row">
    <button type="button" class="btn btn-lg btn-default"
            data-bind="css: { active: leaderboardSelected }, click: leaderboardClicked"
            id="leaderboardBtn">
        Leaderboard
    </button>
    <button type="button" class="btn btn-lg btn-default"
            data-bind="css: { active: playingNowSelected }, click: playingNowClicked"
            id="playingNowBtn">
        Playing now
    </button>
</div>

<br />

<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped table-condensed table-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Side</th>
                    <th>Player 1</th>
                    <th>Player 2</th>
                    <th>Player 3</th>
                    <th>Rating</th>
                    <th>Change</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: selectedPage">
                <tr data-bind="css: DeltaType">
                    <td data-bind="text: Rank"></td>
                    <td>
                        <img data-bind="attr:{src: $root.toFactionImage(FactionId)}" alt="FactionImage" />
                    </td>

                    <!-- ko foreach: Players -->
                    <td>
                        @Html.Partial("PartialCharacterView")
                    </td>
                    <!-- /ko -->

                    <td data-bind="text: Rating"></td>
                    <td data-bind="text: RatingChange"></td>
                    <td data-bind="text: LocalUpdateTime"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <h2>FotM</h2>
        <table class="table table-striped table-condensed table-responsive table-hover">
            <tbody data-bind="foreach: model().TeamSetupsViewModels">
                <tr data-bind="click: $parent.showTeams">
                    <td data-bind="text: Rank"></td>
                    <!-- ko foreach: Specs -->
                    <td>
                        <img data-bind="attr:{src: $root.toClassImage(ClassId)}" alt="SpecImage" />
                        <img data-bind="attr:{src: $root.toSpecImage(SpecId)}" alt="SpecImage" />
                    </td>
                    <!-- /ko -->
                    <td data-bind="text: Percent"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-9">
        <h2>Teams</h2>
        <div class="alert alert-info" data-bind="visible: showFotMHint">
            <strong>Select</strong> setup to browse teams.
        </div>
        <table class="table table-striped table-condensed table-responsive table-hover">
            <tbody data-bind="foreach: selectedTeams">
                <tr>
                    <td data-bind="text: Rank"></td>
                    <td>
                        <img data-bind="attr:{src: $root.toFactionImage(FactionId)}" alt="FactionImage" />
                    </td>

                    <!-- ko foreach: Players -->
                    <td>
                        @Html.Partial("PartialCharacterView")
                    </td>
                    <!-- /ko -->
                    
                    <td data-bind="text: Rating"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

