@model FotM.Portal.ViewModels.ArmoryViewModel

@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
    <!-- TODO: switch to release(minified) versions of scripts -->
    <script src="~/Scripts/knockout-3.1.0.debug.js"></script>
    <script src="~/Scripts/jquery.signalR-2.0.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/Home/index.js"></script>
}

<h2>
    <span data-bind="text: bracket"></span>
    <span data-bind="text: region"></span>
</h2>


<div class="row">
    <table class="table table-striped table-condensed table-responsive">
        <tr>
            <th>#</th>
            <th>Faction</th>
            <th>Player 1</th>
            <th>Player 2</th>
            <th>Player 3</th>
            <th>Rating</th>
            <th>Delta</th>
            <th>Updated</th>
        </tr>
        @foreach (var teamStats in Model.TeamStatsViewModels)
        {
            <tr class="@(teamStats.DeltaType)">
                <td>@teamStats.Rank</td>
                <td>
                    <img src="@(teamStats.FactionImageLink)" alt="FactionImage" />
                </td>

                @foreach (var player in teamStats.Players)
                {
                    <td>
                        <img src="@(player.RaceImageLink)" alt="RaceImage"/>
                        <img src="@(player.ClassImageLink)" alt="ClassImage"/>
                        <img src="@(player.SpecImageLink)" alt="SpecImage"/>
                        @player.Name
                        -
                        @player.Realm
                    </td>
                }
                <td>@teamStats.Rating</td>
                <td>@teamStats.RatingChange</td>
                <td>
                    <script type="text/javascript"> asLocalTime("@teamStats.Updated");</script>
                </td>
            </tr>
        }
    </table>
</div>

<h2>FotM setups</h2>

<div class="row">
    <div class="col-lg-5">
        <table class="table table-striped table-condensed table-responsive col-lg-1">
            <tr>
                <th>#</th>
                <th>Setup</th>
                <th>Percent</th>
            </tr>

            @foreach (var teamSetup in Model.TeamSetupsViewModels)
            {
                <tr>
                    <td>@teamSetup.Rank</td>
                    <td>
                        @for (int i = 0; i < teamSetup.BracketSize; i++)
                        {
                            @*<img src="@(@teamSetup.ClassImageLinks[i])" alt="RaceImage" />*@
                            <img src="@(@teamSetup.SpecImageLinks[i])" alt="SpecImage" />
                        }
                    </td>
                    <td>@teamSetup.Percent</td>
                </tr>
            }
        </table>
    </div>
</div>