@model IEnumerable<FotM.Portal.ViewModels.TeamStatsViewModel>

@{
    ViewBag.Title = "Home Page";
}

<h2>3v3 EU</h2>

<div class="row">
    <table class="table table-striped table-condensed table-responsive">
        <tr>
            <th>#</th>
            <th>Faction</th>
            <th>Player 1</th>
            <th>Player 2</th>
            <th>Player 3</th>
            <th>Rating</th>
            <th>Delta</th>
            <th>Updated</th>
        </tr>
        @foreach (var teamStats in Model)
        {
            <tr class="@(teamStats.DeltaType)">
                <td>@teamStats.Rank</td>
                <td>
                    <img src="@(teamStats.FactionImageLink)" alt="FactionImage" />
                </td>

                @foreach (var player in teamStats.Players)
                {
                    <td>
                        <img src="@(player.RaceImageLink)" alt="RaceImage"/>
                        <img src="@(player.ClassImageLink)" alt="ClassImage"/>
                        <img src="@(player.SpecImageLink)" alt="SpecImage"/>
                        @player.Name
                        -
                        @player.Realm
                    </td>
                }
                <td>@teamStats.Rating</td>
                <td>@teamStats.RatingChange</td>
                <td>
                    <script type="text/javascript"> asLocalTime("@teamStats.Updated");</script>
                </td>
            </tr>
        }
    </table>
</div>