<!DOCTYPE html>
<html ng-app="appDebug" ng-controller="DebugController">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>FotM debug</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
    <div class="row">
        <div class="col-lg-10 centered">
            <input type="text" ng-model="container" />
            <input type="text" ng-model="prefix" />

            <button ng-click="listBlobs()">Load</button>
        </div>
    </div>

    <div class="row">
        <ul>
            <li>
                Total size: {{blobList.totalSize}}
            </li>
            <li>
                Start: {{toLocalTime(blobList.firstDate)}}
            </li>
            <li>
                End: {{toLocalTime(blobList.lastDate)}}
            </li>
            <li>
                Updates per minute: {{blobList.updatesPerMinute}}
            </li>
            <li>
                Average interval: {{blobList.averageInterval}}
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <table class="table">
                <tbody>
                    <tr ng-repeat="blob in blobList.allBlobs">
                        <td>{{toLocalTime(blob.time)}}</td>
                        <td>
                            <a href="" ng-click="showBlob(blob.uri)">
                                {{blob.uri}}
                            </a>
                        </td>
                        <td>{{formatSize(blob.size)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="col-lg-6">
            <span>{{selectedBlobText}}</span>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/app")
</body>
</html>
