@model FotM.Apollo.Controllers.MetaInformation

<!DOCTYPE html>
<html ng-app="app" ng-controller="MainController">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"
      itemscope itemtype="http://schema.org/Product">
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>@Model.title</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    
    <!-- This enables correct routing with AngularJS html5Mode-->
    <base href="/">

    @Html.Partial("MetaTags", Model)

    @Html.Partial("GoogleAnalytics")

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        <!-- Region navigation menu -->
        <div class="navbar navbar-inverse navbar-fixed-top" data-ng-cloak>
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">FotM</a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li ng-repeat="region in shared.regions" class="dropdown"
                            ng-class="{active: region == shared.currentRegion}">

                            <a class="notext" ng-href="{{shared.regionLink(region)}}">
                                {{region | uppercase}}
                            </a>

                        </li>

                        <li ng-class="{active: shared.currentRegion == 'about'}">
                            <a href="/about">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Region navigation menu -->
        
        <div class="row">
            <span>&nbsp;</span>
        </div>

        <div class="row">
            <div>
                @Html.Partial("Paypal")
            </div>
            <div class="col-xs-8">
                @Html.Partial("Yandex")
            </div>
        </div>
        
        <!-- Page selectors -->
        <div class="row">
            <div ng-if="shared.currentRegion != 'about'" data-ng-cloak>

                <ul class="pager col-lg-3 col-md-4 brackets" data-ng-cloak>
                    <li ng-repeat="(bracket, size) in shared.brackets">
                        <a role="button" class="btn btn-default"
                           ng-href="{{shared.bracketLink(bracket)}}"
                           ng-class="{active:bracket == shared.currentBracket.text}">
                            {{bracket}}
                        </a>
                    </li>
                </ul>

                <!-- Leaderboard-Now Selector -->
                <div class="pager col-lg-9 col-md-8">

                    <a role="button" class="btn btn-lg btn-default"
                       ng-class="{active: !shared.now}"
                       ng-href="{{'#/'+shared.currentRegion+'/'+shared.currentBracket.text}}">
                        Leaderboard
                    </a>

                    <a role="button" class="btn btn-lg btn-default"
                       ng-class="{active: shared.now}"
                       ng-href="{{'#/'+shared.currentRegion+'/'+shared.currentBracket.text+'/now'}}">
                        Playing now
                    </a>

                </div>
                <!-- /Leaderboard-Now Selector -->
            </div>
        </div>
        <!-- /Page selectors -->
        
        <!-- Leaderboards -->
        <div ng-view>
        </div>
        <!-- /Leaderboards -->
        
        <!-- Chat -->
        <div ng-controller="ChatController" class="row">
            <div ng-if="chatLoaded" ng-cloak>
                
                <table class="table well">
                    
                    <!-- Users -->
                    <td class="well col-xs-2">
                        <div class="chatTable">
                            <span>Online</span>

                            <div ng-repeat="userAvatar in usersOnline track by $index">
                                <user-avatar vm="userAvatar" />
                            </div>
                        </div>
                    </td>
                    
                    <td class="col-xs-10">
                        <!-- Chat -->
                        <div class="chatTable" id="chatDiv">
                            <div ng-repeat="msg in messages track by $index">
                                <span class="chatAvatarField">
                                    <user-avatar vm="msg"/>
                                </span>
                                <span class="chatMessageField">{{msg.text}}</span>
                            </div>
                        </div>
                    </td>
                </table>
                
                <!-- Send message form -->
                <form class="form-inline" role="form">

                    <div class="input-group">

                        <span class="input-group-addon">
                            <user-avatar vm="userAvatarVM" />
                        </span>

                        <input class="form-control"
                               id="chatInputBox"
                               type="text"
                               placeholder="Message..."
                               ng-model="data.currentMessage" />

                        <span class="input-group-btn pull-left">
                            <button class="btn btn-default" 
                                    type="submit" 
                                    ng-click="sendMessage(data.currentMessage)">
                                <span>Send</span>
                            </button>
                            
                        </span>

                    </div>
                </form>

            </div>
        </div>
        <!-- /Chat -->

    </div>

    <hr />
    
    <div class="col-lg-12">

        @Html.Partial("InitVK")
        @Html.Partial("InitFB")
        @Html.Partial("InitGPlus")
        @Html.Partial("InitTwitter")

        @Html.Partial("Social")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/app")
</body>
</html>
