<!DOCTYPE html>
<html ng-app="app" ng-controller="MainController">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"
      itemscope itemtype="http://schema.org/Product">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- GOOGLE PLUS TAGS -->
    <meta itemprop="name" content="{{title}}">
    <meta itemprop="description" content="{{description}}">
    <meta itemprop="image" content="{{previewUrl()}}">
    <!-- /GOOGLE PLUS TAGS -->

    <!-- FACEBOOK META TAGS -->
    <meta property="og:title" content="{{title}}" />
    <meta property="og:site_name" content="FotM" />
    <meta property="og:url" content="http://fotm.info" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="{{previewUrl()}}" />
    <meta property="fb:app_id" content="{{getRoot()}}" />
    <!-- /FACEBOOK META TAGS -->

    <!-- GOOGLE ANALYTICS TRACKING CODE -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-49247455-4', 'fotm.info');
        ga('send', 'pageview');
    </script>
    <!-- /GOOGLE ANALYTICS TRACKING CODE -->
    
    <!-- VK INIT -->
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?113"></script>

    <script type="text/javascript">
        VK.init({ apiId: 4378304, onlyWidgets: true });
    </script>
    <!-- /VK INIT-->

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        <!-- Navigation menu on top -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">FotM</a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li ng-repeat="region in shared.regions" class="dropdown"
                            ng-class="{active: region == shared.currentRegion}">

                            <!-- Dropdown button -->
                            <a class="dropdown-toggle notext"
                               data-toggle="dropdown">
                                {{region | uppercase}}
                            </a>

                            <!-- Dropdown menu -->
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="(bracket, size) in shared.brackets">
                                    <a class="notext" ng-href="{{'#/'+region+'/'+bracket}}">
                                        {{bracket}}
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li ng-class="{active: shared.currentRegion == 'about'}">
                            <a href="#/about">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Navigation menu on top -->
        <!-- Leaderboard-Now Selector -->
        <div class="row pager"
             ng-if="shared.currentRegion != 'about'">
            <a role="button" class="btn btn-lg btn-default"
               ng-class="{active: !shared.now}"
               ng-href="{{'#/'+shared.currentRegion+'/'+shared.currentBracket.text}}">
                Leaderboard
            </a>
            <a role="button" class="btn btn-lg btn-default"
               ng-class="{active: shared.now}"
               ng-href="{{'#/'+shared.currentRegion+'/'+shared.currentBracket.text+'/now'}}">
                Playing now
            </a>
        </div>
        <!-- /Leaderboard-Now Selector -->

        <div ng-view>
        </div>

    </div>

    <hr />

    <footer class="col-lg-6">
        <div class="social">
            <span class="facebook">
                <div class="fb-share-button"
                     data-href="{{getCurrentLocation()}}"
                     data-type="button">
                </div>
            </span>

            <span class="google">
                <div class="g-plusone"
                     data-annotation="none"
                     data-href="{{getCurrentLocation()}}"
                     data-size="medium">
                </div>
            </span>

            <span class="vk">
                <div id="vk_like"></div>
            </span>

            <span class="paypal">
                <a>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAPLP0AQFSIxCxCHk9Le3HhhJKO8MzurJt29CTllSh1UHLTwwzO1sdKplFcihLX3Fo70xm1E/Ifirw5ddRl2GigS6MV/1J4B/1HNgf+s+ky2HLydT2XzLSglwD5exsbdAOqdJqxQYXVPASVPV4HuoiiHwnC7Kb4G6mX51ZpP9n52DELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIYGRdK739TuyAgZDia1wCIc2ynmyqzt7fyy/iH+aPn+fUX3R/UzI7IoXk2lJ4cQM2460B2g6lTADtkEn+UPZ28djeLfJ+B/M4mYY1iJOyXAZrrMGnKDzxKPsT2c6NYjUeMSmHyj2oIlx8KuMRpPdXsIYmaiebiO4daasSRKD8yI2TU445osow8SIR2xl6LtMuxrAj2fx46b9XDtmgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNDA0MTgwMTA3MzRaMCMGCSqGSIb3DQEJBDEWBBSeUNInMAdcsC8O4hGdyjRqB/cVsTANBgkqhkiG9w0BAQEFAASBgLOoAQdmxhD+fR/25T6nTtGWYPHMj2iRE4VbseNPHXU3TyGfolobQn164KU+SUON5T5Nsmhos0MlI5iGyDGoDX9eF7fMjRaKHSzEQ+dxcg5LacB8pxiAp773ZeCvIHXZUFzYnqYoQ6MCdKRHM5lPsWtZnIHx4iStj1+oY2pADqKK-----END PKCS7-----">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </a>
            </span>

        </div>
    </footer>

    <!-- INIT SDKs -->
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script type="text/javascript">
        (function () {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>
    
    <script type="text/javascript">
        VK.Widgets.Like("vk_like",
        {
            type: "mini",
            pageTitle: "FotM - Командный рейтинг арен World of Warcraft"
        });
    </script>
    <!-- -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular-route.js"></script>
    @Scripts.Render("~/bundles/app")
</body>
</html>
